*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::selection {
  background-color: yellow;
  color: #666; }

body {
  font-family: 'Montserrat', sans-serif; }

.heading-1 {
  font-size: 4.2rem;
  color: #262626;
  font-weight: 700; }

.heading-2 {
  font-size: 4rem;
  color: #262626;
  font-weight: 700; }

.heading-3 {
  font-size: 2.8rem;
  color: #262626;
  font-weight: 700; }

.heading-4 {
  font-size: 1.8rem;
  color: #262626;
  font-weight: 700; }
  .heading-4--portfolio {
    margin-top: 2rem; }

.paragraph {
  font-size: 1.4rem;
  font-family: "Ubuntu";
  font-weight: 400;
  color: #666;
  line-height: 2;
  letter-spacing: 1px; }

.Navigation {
  font-size: 16px;
  font-family: "Montserrat";
  color: #ffde00;
  font-weight: bold;
  line-height: 1.75; }

.Social_Network {
  font-size: 18px;
  font-family: "Ionicons";
  color: #404040;
  line-height: 1.556; }

.mar-bot-sm {
  margin-bottom: 2rem; }

.mar-bot-md {
  margin-bottom: 4rem; }

.mar-bot-bg {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  font-family: "Montserrat";
  color: #404040;
  cursor: pointer;
  text-decoration: none; }

.btn-transparent {
  font-size: 1.5rem;
  font-weight: 700;
  border: 0;
  background-color: transparent; }
  .btn-transparent::after {
    content: "\25B8";
    margin-left: 1rem;
    transition: all .4s ease; }
  .btn-transparent:hover::after {
    margin-left: 2rem; }

.btn-round {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 2rem 5rem;
  border: 3px solid #404040;
  border-radius: 100px;
  transition: all .4s ease; }
  .btn-round:hover {
    background-color: #404040;
    color: #fff; }
  .btn-round--portfolio {
    grid-row: 6;
    grid-column: portfolio-start / portfolio-end;
    align-self: center;
    justify-self: center; }

.portfolio-item {
  display: grid;
  grid-row-gap: .5rem; }
  .portfolio-item__box {
    position: relative; }
  .portfolio-item__link:visited, .portfolio-item__link:link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    align-self: end; }
  .portfolio-item__img {
    width: 100%;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.2); }
  .portfolio-item__details {
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    padding: 2rem;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(255, 222, 0, 0.85), rgba(255, 222, 0, 0.85));
    box-shadow: 0 0 5rem rgba(255, 222, 0, 0.6);
    opacity: 0;
    transition: all .4s ease; }
  .portfolio-item__box:hover .portfolio-item__details {
    opacity: 1;
    top: -2rem;
    left: 2rem; }

.skills {
  display: grid;
  grid-template-columns: minmax(20rem, 40rem);
  grid-template-rows: repeat(3, min-content);
  grid-gap: 5rem; }
  .skills__skill, .skills__percentage {
    font-size: 1.6rem;
    color: #666;
    font-weight: 700;
    line-height: 1.75; }
  .skills__box {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: relative; }
    .skills__box::before, .skills__box::after {
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      content: "";
      height: 6px;
      border-radius: 100px; }
    .skills__box::before {
      width: 100%;
      background-color: #f0f0f0; }
    .skills__box::after {
      background-color: #ffde00;
      width: 0; }
    .skills__box--1 {
      grid-row: 1 / 2; }
      .skills__box--1::after {
        width: 90%; }
    .skills__box--2 {
      grid-row: 2 / 3; }
      .skills__box--2::after {
        width: 70%; }
    .skills__box--3 {
      grid-row: 3 / 4; }
      .skills__box--3::after {
        width: 80%; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(3, minmax(min-content, 30rem));
  grid-template-columns: [page-start] minmax(12rem, 1fr) [content-start] repeat(12, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] minmax(12rem, 1fr) [page-end]; }

.navigation {
  background-color: red;
  grid-column: nav-start / nav-end;
  grid-row: 1 / -1;
  display: none; }

.header {
  background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url(../img/header-background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  grid-column: page-start / page-end;
  display: grid;
  grid-template-rows: [header-start logo-start] 5vh [logo-end hex-start] 60vh [hex-end text-start] 35vh [text-end header-end];
  grid-template-columns: [header-col-start] 55vw [header-col-text-start] 35vw [header-col-text-end] 1fr [header-col-end]; }
  .header__bg-dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(../img/header-background.jpg);
    opacity: .8;
    background-position: center;
    background-size: cover;
    height: 100vh;
    clip-path: polygon(0 0, 50% 0, 50% 50%, 0 100%);
    grid-row: header-start / header-end;
    grid-column: header-col-start / header-col-end; }
  .header__hexagon-parent {
    justify-self: center;
    align-self: center;
    grid-row: header-start / header-end;
    grid-column: header-col-start / header-col-end;
    filter: drop-shadow(0 0 1rem #ffde00); }
  .header__hexagon {
    width: 60vh;
    height: 70vh;
    background-color: yellow;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-image: linear-gradient(rgba(255, 222, 0, 0.9), rgba(255, 222, 0, 0.9)), url(../img/header-polygon.jpg);
    background-position: center;
    background-size: cover; }
  .header__text {
    justify-self: center;
    align-self: start;
    grid-row: text-start / text-end;
    grid-column: header-col-text-start / header-col-text-end;
    z-index: 2;
    display: grid;
    grid-row-gap: 2rem;
    justify-items: left; }

.portfolio {
  padding: 12rem 12rem;
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: [portfolio-start] repeat(6, [col-left-start] 1fr [col-left-end]) 1fr repeat(6, [col-right-start] 1fr [col-right-end]) [portfolio-end];
  grid-template-rows: repeat(5, min-content) 25rem; }
  .portfolio-item--1 {
    grid-column: col-left-start 2 / col-left-end 4;
    grid-row: 1; }
  .portfolio-item--2 {
    grid-column: col-right-start 1 / col-right-end 6;
    grid-row: 2;
    margin-top: -5rem; }
  .portfolio-item--3 {
    grid-column: col-left-start 3 / col-left-end 5;
    grid-row: 3;
    margin-top: -7rem; }
  .portfolio-item--4 {
    grid-column: col-right-start 2 / col-right-end 5;
    grid-row: 4;
    margin-top: -7rem; }
  .portfolio-item--5 {
    grid-column: col-left-start 1 / col-left-end 5;
    grid-row: 5;
    margin-top: -7rem; }

.about {
  grid-column: col-start 1 / col-end 6;
  padding: 12rem 0; }

.contact {
  background-color: darkseagreen;
  grid-column: content-start / content-end; }

.Description {
  font-size: 14px;
  font-family: "Ubuntu";
  color: #666666;
  line-height: 2.286; }

.Headline {
  font-size: 42px;
  font-family: "Montserrat";
  color: #262626;
  font-weight: bold;
  line-height: 0.667;
  position: absolute;
  left: 373px;
  top: 298px;
  width: 209px;
  height: 33px;
  z-index: 15; }

.Score {
  font-size: 16px;
  font-family: "Montserrat";
  color: #404040;
  font-weight: bold;
  line-height: 1.75;
  position: absolute;
  left: 640px;
  top: 805px;
  width: 33px;
  height: 13px;
  z-index: 31; }

.Message {
  font-size: 14px;
  font-family: "Ubuntu";
  color: #cccccc;
  line-height: 2.286;
  position: absolute;
  left: 376px;
  top: 608px;
  width: 55px;
  height: 13px;
  z-index: 31; }

.Line {
  background-color: #cccccc;
  position: absolute;
  left: 376px;
  top: 698px;
  width: 330px;
  height: 2px;
  z-index: 32; }

.Project_Details {
  font-size: 14px;
  font-family: "Ubuntu";
  color: #666666;
  line-height: 2.286;
  text-align: right;
  position: absolute;
  left: 1374px;
  top: 393px;
  width: 103px;
  height: 138px;
  z-index: 17; }
