*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

::selection {
  background-color: yellow;
  color: #666; }

body {
  font-family: 'Montserrat', sans-serif; }

.heading-1 {
  font-size: 4.2rem;
  color: #262626;
  font-weight: 700; }

.heading-2 {
  font-size: 4rem;
  color: #262626;
  font-weight: 700; }

.heading-3 {
  font-size: 2.8rem;
  color: #262626;
  font-weight: 700; }

.heading-4 {
  font-size: 1.8rem;
  color: #262626;
  font-weight: 700; }
  .heading-4--portfolio {
    margin-top: 2rem; }

.heading-5 {
  font-size: 1.4rem;
  font-family: "Ubuntu";
  color: #262626; }

.heading-6 {
  font-size: 1.2rem;
  font-family: "Ubuntu";
  color: #262626; }

.paragraph {
  font-size: 1.4rem;
  font-family: "Ubuntu";
  font-weight: 400;
  color: #666;
  line-height: 2;
  letter-spacing: 1px; }

.Navigation {
  font-size: 16px;
  font-family: "Montserrat";
  color: #ffde00;
  font-weight: bold;
  line-height: 1.75; }

.Social_Network {
  font-size: 18px;
  font-family: "Ionicons";
  color: #404040;
  line-height: 1.556; }

.mar-bot-sm {
  margin-bottom: 2rem; }

.mar-bot-md {
  margin-bottom: 4rem; }

.mar-bot-bg {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  font-family: "Montserrat";
  color: #404040;
  cursor: pointer;
  text-decoration: none; }

.btn-transparent {
  font-size: 1.5rem;
  font-weight: 700;
  border: 0;
  background-color: transparent; }
  .btn-transparent::after {
    content: "\25B8";
    margin-left: 1rem;
    transition: all .4s ease; }
  .btn-transparent:hover::after {
    margin-left: 2rem; }
  .btn-transparent-project::after {
    content: ""; }
  .btn-transparent-project::before {
    content: "\25C2";
    margin-right: 1rem;
    transition: all .4s ease; }
  .btn-transparent-project:hover::before {
    margin-right: 2rem; }

.btn-round {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 2rem 5rem;
  border: 3px solid #404040;
  border-radius: 100px;
  transition: all .4s ease; }
  .btn-round:hover {
    background-color: #404040;
    color: #fff; }
  .btn-round--portfolio {
    grid-row: 6;
    grid-column: portfolio-start / portfolio-end;
    align-self: center;
    justify-self: center; }

.form {
  grid-row: 4;
  display: grid;
  grid-row-gap: 3rem; }
  .form__group {
    position: relative; }
    .form__group > button {
      background-color: #fff;
      margin-top: 4rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    font-weight: 400;
    padding: 2rem 0;
    background-color: #fff;
    border: 0;
    border-bottom: 2px solid #bebebe;
    width: 60%;
    transition: all .4s ease; }
    .form__input--message {
      padding: 1rem 0 10rem 0; }
    .form__input:focus {
      outline: none;
      border-bottom: 2px solid #262626; }
    .form__input:focus:invalid {
      border-bottom: 2px solid coral; }
    .form__input::-webkit-input-placeholder {
      color: #bebebe; }
  .form__label {
    font-size: 1.2rem;
    color: #ffde00;
    position: absolute;
    top: -1rem;
    left: 0;
    transition: all .4s ease; }
  .form__input:placeholder-shown + .form__label {
    opacity: 1;
    font-size: 1.5rem;
    visibility: hidden;
    transform: translateY(2rem); }

.portfolio-item {
  display: grid;
  grid-row-gap: .5rem; }
  .portfolio-item__box {
    position: relative; }
  .portfolio-item__link:visited, .portfolio-item__link:link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    align-self: end; }
  .portfolio-item__img {
    width: 100%;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.2); }
  .portfolio-item__details {
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    padding: 2rem;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(255, 222, 0, 0.85), rgba(255, 222, 0, 0.85));
    box-shadow: 0 0 5rem rgba(255, 222, 0, 0.6);
    opacity: 0;
    transition: all .4s ease; }
  .portfolio-item__box:hover .portfolio-item__details {
    opacity: 1;
    top: -2rem;
    left: 2rem; }

.project {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: 7fr 1fr 3fr;
  grid-row-gap: 5rem; }
  .project__description {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-row-gap: 5rem; }
  .project__details {
    grid-row: 2 / 3;
    grid-column: 3 / -1;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-row-gap: 2rem; }
  .project__item {
    display: grid;
    grid-template-columns: repeat(2, minmax(10rem, 1fr));
    padding: .3rem 0; }
  .project__item-details {
    justify-self: end;
    grid-column: 2;
    padding: .5rem 0;
    font-size: 1.2rem;
    color: #666; }
  .project__photos {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 1fr 4fr;
    grid-template-rows: repeat(3, min-content); }
  .project__img {
    width: 100%;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2); }
    .project__img:not(:first-child) {
      margin-top: -3rem; }
    .project__img--1 {
      grid-row: 1 / 2;
      grid-column: 1 / 4; }
    .project__img--2 {
      grid-row: 2 / 3;
      grid-column: 5 / -1; }
    .project__img--3 {
      grid-row: 3 / 4;
      grid-column: 2 / 3; }
  .project__social-icons {
    margin-top: 2rem; }

.btn-transparent-project {
  grid-row: 4; }

.heading-5--project {
  margin-top: 5rem;
  letter-spacing: 1.4px; }

.heading-6--project {
  grid-column: 1; }

.skills {
  grid-row: 6;
  display: grid;
  grid-template-columns: minmax(20rem, 40rem);
  grid-template-rows: repeat(3, min-content);
  grid-gap: 5rem; }
  .skills__skill, .skills__percentage {
    font-size: 1.6rem;
    color: #666;
    font-weight: 700;
    line-height: 1.75; }
  .skills__box {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: relative; }
    .skills__box::before, .skills__box::after {
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      content: "";
      height: 6px;
      border-radius: 100px; }
    .skills__box::before {
      width: 100%;
      background-color: #f0f0f0; }
    .skills__box::after {
      background-color: #ffde00;
      width: 0; }
    .skills__box--1 {
      grid-row: 1 / 2; }
      .skills__box--1::after {
        width: 90%; }
    .skills__box--2 {
      grid-row: 2 / 3; }
      .skills__box--2::after {
        width: 70%; }
    .skills__box--3 {
      grid-row: 3 / 4; }
      .skills__box--3::after {
        width: 80%; }

.social-icon:link, .social-icon:visited {
  color: #404040;
  background-color: transparent;
  font-size: 1.4rem;
  padding: 1rem 0;
  margin: 2rem 2rem 2rem 0;
  transition: all .4s ease; }

.social-icon:hover {
  color: #ffde00; }

.footer {
  grid-column: content-start / content-end;
  text-align: center;
  align-content: end;
  display: grid; }
  .footer__copy {
    font-size: 1.4rem;
    padding: 1rem; }

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: transparent;
  color: white;
  mix-blend-mode: exclusion; }
  .nav__list {
    list-style: none; }
  .nav__item {
    transform: rotate(-90deg) translateX(7rem);
    margin-top: 9rem;
    text-align: center; }
  .nav__link {
    padding: 2rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    background-color: transparent;
    transition: all .4s ease; }
  .nav__link:hover, .nav__link:active {
    color: #ffde00; }

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity .5s;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  grid-column: content-start / content-end; }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup__content {
    padding: 8rem;
    background: #fff;
    width: 100%;
    position: relative;
    transition: all 2s ease; }
  .popup__close {
    position: absolute;
    top: 4rem;
    right: 8rem;
    transition: all .4s ease;
    font-size: 5rem;
    font-weight: bold;
    text-decoration: none;
    color: #404040; }
  .popup__close:hover {
    color: #ffde00; }
  .popup__content {
    max-height: 100%;
    overflow: auto; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(4, minmax(min-content, 10rem));
  grid-template-columns: [page-start] minmax(12rem, 1fr) [content-start] repeat(12, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] minmax(12rem, 1fr) [page-end];
  background-color: white; }

.logo {
  position: fixed;
  top: 4rem;
  left: 4rem;
  z-index: 20;
  background-color: transparent;
  color: white;
  mix-blend-mode: exclusion;
  display: flex;
  align-items: center; }
  .logo__img {
    width: 100%;
    margin-right: 1rem; }
  .logo__link:visited, .logo__link:link {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700; }

.social-icons-fixed {
  position: fixed;
  top: 4rem;
  right: 4rem;
  z-index: 20; }

.header {
  background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url(../img/header-background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: white;
  grid-column: page-start / page-end;
  display: grid;
  grid-template-rows: [header-start logo-start] 5vh [logo-end hex-start] 60vh [hex-end text-start] 35vh [text-end header-end];
  grid-template-columns: [header-col-start] 55vw [header-col-text-start] 35vw [header-col-text-end] 1fr [header-col-end]; }
  .header__bg-dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(../img/header-background.jpg);
    opacity: .8;
    background-position: center;
    background-size: cover;
    height: 100vh;
    clip-path: polygon(0 0, 50% 0, 50% 50%, 5% 100%, 0 100%);
    grid-row: header-start / header-end;
    grid-column: header-col-start / header-col-end; }
  .header__hexagon-parent {
    justify-self: center;
    align-self: center;
    grid-row: header-start / header-end;
    grid-column: header-col-start / header-col-end;
    filter: drop-shadow(0 0 1rem #ffde00); }
  .header__hexagon {
    width: 60vh;
    height: 70vh;
    background-color: yellow;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-image: linear-gradient(rgba(255, 222, 0, 0.9), rgba(255, 222, 0, 0.9)), url(../img/header-polygon.jpg);
    background-position: center;
    background-size: cover; }
  .header__text {
    justify-self: center;
    align-self: start;
    grid-row: text-start / text-end;
    grid-column: header-col-text-start / header-col-text-end;
    z-index: 2;
    display: grid;
    grid-row-gap: 2rem;
    justify-items: left; }

.portfolio {
  padding: 12rem 12rem;
  grid-column: content-start / content-end;
  display: grid;
  grid-template-columns: [portfolio-start] repeat(6, [col-left-start] 1fr [col-left-end]) 1fr repeat(6, [col-right-start] 1fr [col-right-end]) [portfolio-end];
  grid-template-rows: repeat(5, min-content) 25rem; }
  .portfolio-item--1 {
    grid-column: col-left-start 2 / col-left-end 4;
    grid-row: 1; }
  .portfolio-item--2 {
    grid-column: col-right-start 1 / col-right-end 6;
    grid-row: 2;
    margin-top: -5rem; }
  .portfolio-item--3 {
    grid-column: col-left-start 3 / col-left-end 5;
    grid-row: 3;
    margin-top: -7rem; }
  .portfolio-item--4 {
    grid-column: col-right-start 2 / col-right-end 5;
    grid-row: 4;
    margin-top: -7rem; }
  .portfolio-item--5 {
    grid-column: col-left-start 1 / col-left-end 5;
    grid-row: 5;
    margin-top: -7rem; }

.about {
  grid-column: content-start / page-end;
  display: grid;
  grid-template-columns: 7fr 8rem 5fr;
  grid-template-rows: 10rem repeat(6, min-content) 20rem; }
  .about .heading-2--about {
    grid-row: 2; }
  .about .paragraph--about-1 {
    grid-row: 3; }
  .about .heading-3--about {
    grid-row: 4; }
  .about .paragraph--about-2 {
    grid-row: 5; }
  .about__triangle-parent {
    grid-column: 3 / -1;
    grid-row: 1 / 6;
    filter: drop-shadow(0 0 1rem #ffde00);
    z-index: 2; }
  .about__triangle {
    height: 100%;
    background-color: yellow;
    clip-path: polygon(100% 0, 100% 90%, 85% 100%, 0 60%, 0 0);
    background-image: linear-gradient(rgba(255, 222, 0, 0.9), rgba(255, 222, 0, 0.9)), url(../img/about-background.jpg);
    background-position: right;
    background-size: cover; }
  .about__bg-dark {
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 40% 100%);
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(../img/about-background.jpg);
    opacity: .8;
    background-position: right;
    background-size: cover;
    z-index: 1;
    grid-row: 1 / -1;
    grid-column: 3 / -1; }

.contact {
  grid-column: content-start / page-end;
  display: grid;
  grid-template-columns: 7fr 8rem 5fr;
  grid-template-rows: 10rem repeat(3, min-content) 20rem; }
  .contact .heading-2--contact {
    grid-row: 2; }
  .contact .paragraph--contact {
    grid-row: 3; }
  .contact__triangle-dark-parent {
    grid-column: 3 / -1;
    grid-row: 1 / 5;
    z-index: 2; }
  .contact__triangle-dark {
    height: 100%;
    clip-path: polygon(100% 0, 100% 70%, 0 35%, 0 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(../img/contact-background.jpg);
    opacity: .8;
    background-position: right;
    background-size: cover; }
  .contact__triangle-parent {
    grid-column: 3 / -1;
    grid-row: 3 / -1;
    filter: drop-shadow(0 0 1rem #ffde00);
    z-index: 2; }
  .contact__triangle {
    height: 100%;
    clip-path: polygon(60% 0, 100% 15%, 100% 100%, 0 100%, 0 22%);
    background-image: linear-gradient(rgba(255, 222, 0, 0.9), rgba(255, 222, 0, 0.9)), url(../img/contact-background.jpg);
    background-position: right;
    background-size: cover; }
