.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity .5s;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    grid-column: content-start / content-end;
  
    &:target {
        visibility: visible;
        opacity: 1;
  }
  
    &__content {
        padding: 8rem;
        background: #fff;
        width: 100%;
        position: relative;
        transition: all 2s ease;
    }

    &__close {
        position: absolute;
        top: 4rem;
        right: 8rem;
        transition: all .4s ease;
        font-size: 5rem;
        font-weight: bold;
        text-decoration: none;
        color: $color-grey-dark-2;
    }

    &__close:hover {
        color: $color-primary;
    }

    &__content {
        max-height: 100%;
        overflow: auto;
    }
}