body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .heading-1 {
    font-size: 4.2rem;
    color: $color-grey-dark;
    font-weight: 700;
  }

  .heading-2 {
    font-size: 4rem;
    color: $color-grey-dark;
    font-weight: 700;
  }

  .heading-3 {
    font-size: 2.8rem;
    color: $color-grey-dark;
    font-weight: 700;
  }

  .heading-4 {
    font-size: 1.8rem;
    color: $color-grey-dark;
    font-weight: 700;

    &--portfolio {
      margin-top: 2rem;
    }
  }

  .heading-5 {
    font-size: 1.4rem;
    font-family: "Ubuntu";
    color: $color-grey-dark;
  }

  .heading-6 {
    font-size: 1.2rem;
    font-family: "Ubuntu";
    color: $color-grey-dark;
  }
  
  .paragraph {
    font-size: 1.4rem;
    font-family: "Ubuntu";
    font-weight: 400;
    color: $color-grey;
    line-height: 2;
    letter-spacing: 1px;
  }
  
  .Navigation {
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb( 255, 222, 0 );
    font-weight: bold;
    line-height: 1.75;
  }
  
  .Social_Network {
    font-size: 18px;
    font-family: "Ionicons";
    color: rgb( 64, 64, 64 );
    line-height: 1.556;
  }
  