.container {
    display: grid;
    grid-template-rows: 100vh repeat(3, minmax(min-content, 30rem));
    //grid-template-columns: [nav-start] 10rem [nav-end page-start] minmax(5rem, 1fr) [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] minmax(5rem, 1fr) [page-end];
    grid-template-columns: [page-start] minmax(10rem, 1fr) [content-start] repeat(12, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] minmax(10rem, 1fr) [page-end];
    //grid-template-columns: repeat(2, 1fr);
}

.navigation {
    background-color: red;

    grid-column: nav-start / nav-end;
    grid-row: 1 / -1;

    display: none;
}

.header {
    background-image: linear-gradient(rgba($color-white, .95), rgba($color-white, .95)), url(/img/header-background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;

    //grid-column: page-start / page-end;
    grid-column: page-start / page-end;

    display: grid;

    grid-template-rows: [header-start logo-start] 5vh [logo-end hex-start] 60vh [hex-end text-start] 35vh [text-end header-end];
    grid-template-columns: [header-col-start] 55vw [header-col-text-start] 35vw [header-col-text-end] 1fr [header-col-end];

    &__bg-dark {
        background-image: linear-gradient(rgba(#000, .75), rgba(#000, .75));
        height: 100vh;
        clip-path: polygon(0 0, 50% 0, 50% 50%, 0 100%);

        grid-row: header-start / header-end;
        grid-column: header-col-start / header-col-end;
    }

    &__hexagon-parent {
        justify-self: center;
        align-self: center;
        grid-row: header-start / header-end;
        grid-column: header-col-start / header-col-end;
        filter: drop-shadow(0 0 1rem $color-primary);
    }

    &__hexagon {
        width: 60vh;
        height: 70vh;
        background-color: yellow;
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        background-image: linear-gradient(rgba($color-primary, .9), rgba($color-primary, .9)), url(/img/header-polygon.jpg);
        background-position: center;
        background-size: cover;
    }

    &__text {
        justify-self: center;
        align-self: start;
        grid-row: text-start / text-end;
        grid-column: header-col-text-start / header-col-text-end;
        z-index: 2;

        display: grid;
        grid-row-gap: 2rem;
        justify-items: left;
    }
}

.portfolio {
    padding: 8rem 0;
    grid-column: content-start / content-end;

    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
    grid-template-rows: repeat(5, min-content);
    grid-column-gap: 5rem;

    &-item--1 {
        grid-column: col-start 2 / col-end 4;
        grid-row: 1;
    }

    &-item--2 {
        grid-column: col-start 6 / col-end 12;
        grid-row: 2;
        margin-top: -5rem;
    }

    &-item--3 {
        grid-column: col-start 3 / col-end 5;
        grid-row: 3;
        margin-top: -7rem;
    }

    &-item--4 {
        grid-column: col-start 7 / col-end 11;
        grid-row: 4;
        margin-top: -7rem;
    }

    &-item--5 {
        grid-column: col-start 1 / col-end 5;
        grid-row: 5;
        margin-top: -7rem;
    }
}

.about {
    background-color: darkslategray;

    grid-column: content-start / content-end;
}

.contact {
    background-color: darkseagreen;

    grid-column: content-start / content-end;
}