.container {
    display: grid;
    grid-template-rows: 100vh repeat(4, minmax(min-content, 10rem));
    grid-template-columns: [page-start] minmax(12rem, 1fr) [content-start] repeat(12, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] minmax(12rem, 1fr) [page-end];

    background-color: white;
}

.logo {
    position: fixed;
    top: 4rem;
    left: 4rem;
    z-index: 20;
    background-color: transparent;
    color: white;
    mix-blend-mode: exclusion;

    display: flex;
    align-items: center;

    &__img {
        width: 100%;
        margin-right: 1rem;
    }

    &__link:visited,
    &__link:link {
        text-decoration: none;
        color: #fff;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.social-icons-fixed {
    position: fixed;
    top: 4rem;
    right: 4rem;
    z-index: 20;
}

.header {
    background-image: linear-gradient(rgba($color-white, .95), rgba($color-white, .95)), url(../img/header-background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: white;
    
    grid-column: page-start / page-end;

    display: grid;

    grid-template-rows: [header-start logo-start] 5vh [logo-end hex-start] 60vh [hex-end text-start] 35vh [text-end header-end];
    grid-template-columns: [header-col-start] 55vw [header-col-text-start] 35vw [header-col-text-end] 1fr [header-col-end];

    @media only screen and (max-width: 50em) {
        grid-template-rows: [header-start logo-start] 5vh [logo-end hex-start] 25vh [hex-end text-start] 70vh [text-end header-end];
    }

    &__bg-dark {
        background-image: linear-gradient(rgba(#000, .95), rgba(#000, .95)), url(../img/header-background.jpg);
        opacity: .8;
        background-position: center;
        background-size: cover;
        height: 100vh;
        clip-path: polygon(0 0, 50% 0, 50% 50%, 5% 100%, 0 100%);

        grid-row: header-start / header-end;
        grid-column: header-col-start / header-col-end;
    }

    &__hexagon-parent {
        justify-self: center;
        align-self: center;
        grid-row: header-start / header-end;
        grid-column: header-col-start / header-col-end;
        filter: drop-shadow(0 0 1rem $color-primary);
    }

    &__hexagon {
        width: 60vh;
        height: 70vh;
        background-color: yellow;
        clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
        background-image: linear-gradient(rgba($color-primary, .9), rgba($color-primary, .9)), url(../img/header-polygon.jpg);
        background-position: center;
        background-size: cover;

        @media only screen and (max-width: 50em) {
            width: 95vw;
            height: 105vw;
        }
    }

    &__text {
        justify-self: center;
        align-self: start;
        grid-row: text-start / text-end;
        grid-column: header-col-text-start / header-col-text-end;
        z-index: 2;

        display: grid;
        grid-row-gap: 2rem;
        justify-items: left;
    }
}

.portfolio {
    padding: 12rem 12rem;
    grid-column: content-start / content-end;

    display: grid;
    grid-template-columns: [portfolio-start] repeat(6, [col-left-start] 1fr [col-left-end]) 1fr repeat(6, [col-right-start] 1fr [col-right-end]) [portfolio-end];
    grid-template-rows: repeat(5, min-content) 25rem;

    @media only screen and (max-width: 62.5em) {
        padding: 6rem 0;
        grid-template-rows: repeat(5, min-content) 15rem;
    }

    &-item--1 {
        grid-column: col-left-start 2 / col-left-end 4;
        grid-row: 1;

        @media only screen and (max-width: 62.5em) {
            grid-column: col-left-start 2 / col-right-end 5;
        }
    }

    &-item--2 {
        grid-column: col-right-start 1 / col-right-end 6;
        grid-row: 2;
        margin-top: -5rem;
    }

    &-item--3 {
        grid-column: col-left-start 3 / col-left-end 5;
        grid-row: 3;
        margin-top: -7rem;
    }

    &-item--4 {
        grid-column: col-right-start 2 / col-right-end 5;
        grid-row: 4;
        margin-top: -7rem;
    }

    &-item--5 {
        grid-column: col-left-start 1 / col-left-end 5;
        grid-row: 5;
        margin-top: -7rem;
    }

    & [class*="portfolio-item--"] {
        @media only screen and (max-width: 62.5em) {
            grid-column: col-left-start 2 / col-right-end 5;
            grid-row-gap: 1rem;

            margin: 0 0 4rem 0;
        }

        @media only screen and (max-width: 50rem) {
            grid-column: portfolio-start / portfolio-end;
        }
    }
}

.about {
    grid-column: content-start / page-end;  

    display: grid;
    grid-template-columns: 7fr 8rem 5fr;
    grid-template-rows: 10rem repeat(6, min-content) 20rem;

    .heading-2--about {grid-row: 2;}
    .paragraph--about-1 {grid-row: 3;}
    .heading-3--about {grid-row: 4;}
    .paragraph--about-2 {grid-row: 5;}

    

    &__triangle-parent {
        grid-column: 3 / -1;
        grid-row: 1 / 6;
        filter: drop-shadow(0 0 1rem $color-primary);
        z-index: 2;

        @media only screen and (max-width: 62.5em) {
            display: none;
        }
    }

    &__triangle {
        height: 100%;
        background-color: yellow;
        clip-path: polygon(100% 0, 100% 90%, 85% 100%, 0 60%, 0 0);
        background-image: linear-gradient(rgba($color-primary, .9), rgba($color-primary, .9)), url(../img/about-background.jpg);
        background-position: right;
        background-size: cover;
    }

    &__bg-dark {
        clip-path: polygon(40% 0, 100% 0, 100% 100%, 40% 100%);
        background-image: linear-gradient(rgba(#000, .95), rgba(#000, .95)), url(../img/about-background.jpg);
        opacity: .8;
        background-position: right;
        background-size: cover;
        z-index: 1;

        grid-row: 1 / -1;
        grid-column: 3 / -1;
    }
}

.contact {
    grid-column: content-start / page-end;

    display: grid;
    grid-template-columns: 7fr 8rem 5fr;
    grid-template-rows: 10rem repeat(3, min-content) 20rem;

    .heading-2--contact {grid-row: 2;}
    .paragraph--contact {grid-row: 3;}

    &__triangle-dark-parent {
        grid-column: 3 / -1;
        grid-row: 1 / 5;
        z-index: 2;
    }

    &__triangle-dark {
        height: 100%;
        clip-path: polygon(100% 0, 100% 70%, 0 35%, 0 0);
        background-image: linear-gradient(rgba(#000, .95), rgba(#000, .95)), url(../img/contact-background.jpg);
        opacity: .8;
        background-position: right;
        background-size: cover;
    }

    &__triangle-parent {
        grid-column: 3 / -1;
        grid-row: 3 / -1;
        filter: drop-shadow(0 0 1rem $color-primary);
        z-index: 2;
    }

    &__triangle {
        height: 100%;
        clip-path: polygon(60% 0, 100% 15%, 100% 100%, 0 100%, 0 22%);
        background-image: linear-gradient(rgba($color-primary, .9), rgba($color-primary, .9)), url(../img/contact-background.jpg);
        background-position: right;
        background-size: cover;
    }
}